<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>JavaScript Test App!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="sonnets.js"></script>
    <script src="main.js"></script>
</head>
<body ng-app="app" ng-controller="MainController">
<div class="container">
    <h1>{{main.title}}</h1>
    <div class="input-group">
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-search"></span>
        </span>
        <input type="text" class="form-control" ng-model="main.searchInput">
    </div>
    <h3>A list of Shakespeare's Sonnets</h3>
    <ul class="list-group">
        <li class="list-group-item clickable" ng-repeat="sonnet in main.sonnets | filter:main.searchInput" ng-click="sonnetClicked(sonnet)"><span class="glyphicon glyphicon-star" ng-if="sonnet.favorite"></span> Sonnet {{sonnet.number}}</li>
    </ul>
</div>
</body>
</html>