<!--The content below is only a placeholder and can be replaced.-->
<header class="header" style="text-align:center">
  <div class="container">
    <h1>
      Welcome to {{title}}!
    </h1>
  </div>
</header>
<div class="container">
  <h2>List of sonnets: </h2>
  <div class="col-xs-12">
    <div class="search margin-bottom">

      <div class="search-input">
        <input type="search" [(ngModel)]="searchString" placeholder="Please type in your search keywords here...." />
      </div>
      <div class="search-icon">
        <span class="glyphicon glyphicon-search"></span>
      </div>

    </div>
    <div class="row margin-bottom">
      <div class="col-xs-2">
        Number
      </div>
      <div class="col-xs-10">
        Lines
      </div>
    </div>
    <div class="row sonnet" *ngFor="let sonnet of sonnets | filter : searchString">
      <div class="col-xs-2 sonnet-number text-center">{{sonnet.number}}</div>
      <div class="col-xs-10">

        <mat-form-field>
          <textarea matInput placeholder="Enter Sonnet" matTextareaAutosize matAutosizeMinRows="1" [(ngModel)]="sonnet.lines"></textarea>
        </mat-form-field>

      </div>
    </div>

  </div>